body {
    font-family: Palatino Linotype;
    background-color: rgb(214, 214, 214);
}

@media (min-width: 1000px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}

#content {
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    background-color: white;
}

h1 {
    margin: auto;
    text-align: center;
}

.render {
    display: block;
    height: 400px;
    margin: auto;
}

#signup {
    width: 350px;
    margin: auto;
    text-align: center;
}

#signup input {
    margin: auto;
    width: 300px;
}

.clear {
    margin-top: 1rem;
}

.mc-field-group {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}
