/* This defines styles and classes used in the book */
body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }

h1.title { 
    font-size: x-large;
}
h2.author { 
    font-size: large
}
p.date, p.rights { 
    display: none;
}
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }

p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 2em;
}

.postscript {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.small {
    font-size: smaller;
}

.blocks p {
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.map img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.map p {
    margin: 0;
    padding: 0;
}

#wave-speaker {
    height: 200px;
    display: block;
    margin: auto;
}

#headshot {
    height: 150px;
    display: block;
    margin: auto;
}

section {
    page-break-before: always;
}

h1, h2 {
    text-align: center;
    font-variant: small-caps;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section.level2 h2 {
    margin-top: 9em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
    border-bottom: solid black 1px;
}

figure img {
    display: block;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-right: auto;
    margin-left: auto;
    height: 4em;
}

figure figcaption {
    display: none;
}

hr {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.cover-image img {
    height: 100%;
}
